<section>
  <div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
      <button mat-icon-button>
        <mat-icon class="mailStyle" (click)="resetReceive()"
          >mail_outline</mat-icon
        >
      </button>
      <span style="color: white;" *ngIf="timerSource$ | async as count">{{
        count
      }}</span>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
      <button
        type="button"
        class="startStyle"
        mat-raised-button
        color="primary"
        [disabled]="isTimerLive$ | async"
        (click)="startReceive()"
      >
        Start receiving
      </button>
      <button
        #btn
        type="button"
        mat-raised-button
        color="secondary"
        [disabled]="!(isTimerLive$ | async)"
        (click)="stopReceive()"
      >
        Stop receiving
      </button>
    </div>
  </div>
</section>
