@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

p {
  font-family: Lato;
}

section {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  padding: 24px;
  min-height: 700px;
  height: 100vh;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

span {
  background: red;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  line-height: 22px;
  display: inline-block;
  text-align: center;
}

.mailStyle {
  color: white;
}

.startStyle {
  margin-right: 8px;
}
